:root {
  --cardWidth: 155px;
  --cardHeight: 200px;
  --cardMargin: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-weight: 400;
  font-size: 13px;
  font-family: Futura PT,sans-serif;
  color: #2e3131;
}

a {
  text-decoration: none;
}
